.gallery img{
    
   width: 100% 
}

body{background-color:cornsilk}

h1{
    color:darkgoldenrod;
    text-transform: full-width
}
h4{
    color: dimgrey
}
h3{
    color: darkgray;
    font-style: italic
}
p{
    text-align: left;
    text-decoration-style: solid;
    text-decoration-color: darkslategray;
    font-style: oblique
}


#menu{
    width: 100%;
    height: 40px;
    background-color: darksalmon;
    padding-top: 12px;
}
#menu a{
    color: #ffffff;
    font-family: helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover{
    color: red;
} 
